.konvensi select {
    min-width: 1rem;
    min-height: 2rem;
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgb(206, 212, 218);
    background-color: #e9ecef;
}
/* 
.btn {
    width: 20rem;
    height: 2.5rem;
} */

.hitung, .loading{
    display: none;
}